/* Custom CSS styles */
body {
    font-family: Arial, sans-serif;
    padding:0 0 100px 0;
    color:#1E1E1E;
}
.navbar{
    border-bottom:1px solid rgb(194, 194, 194);
}
.navbar-brand{
    font-family: "Oswald", sans-serif;
    font-weight:700;
    font-size: 28px;
}
.navbar-brand span{
    font-weight: 100;
}
.nav-buttons i{
    margin:0 10px;
    cursor:pointer;
}
#songInfo{
    min-height:25px;
    margin-bottom:25px;
    color:#1E1E1E;
    font-size:14px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item span{
    opacity:0.6;
}

/* Responsive video player */
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    min-height:482px;
    background-color: #FFFCEB;
}
.ad{
    width:100%;
    display: inline-block;
}
.ad-mobile{
    max-height:482px;
}
.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.filter-btn.active {
    background-color: #212529; /* Change to desired darker color */
    color: #fff; /* Text color for active button */
}


.modal-trigger{
    position:absolute;
    top:5px;
    right:10px;
    z-index: 10;
}


/*
=================================================
LEARN
=================================================
*/
#course{
    text-transform: uppercase;
    font-weight:900;
}
.list-group-item i{
    float:right;
}


/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .btn-sm{
       font-size:11px;
       margin-bottom:5px;
    }    
}